@import 'tailwindcss';
@import 'tw-animate-css';

/* @custom-variant dark (&:is(.dark *)); */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--border);
  --color-sidebar-accent-foreground: var(--accent-foreground);
  --color-sidebar-accent: var(--accent);
  --color-sidebar-primary-foreground: var(--background);
  --color-sidebar-primary: var(--primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.1718 0.0663 317.75);
  --foreground: oklch(0.9771 0.0075 207.14);
  --primary: oklch(0.6273 0.1052 205.58);
  /* --primary-foreground: oklch(0.984 0.003 247.858); */
  --secondary: oklch(0.6627 0.0935 201.52);
  /* --secondary-foreground: oklch(0.208 0.042 265.755); */
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.8633 0.1339 88.52);
  /* --accent-foreground: oklch(0.208 0.042 265.755); */
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --sidebar: oklch(0.1718 0.0663 317.75);
  --sidebar-foreground: oklch(0.1718 0.0663 317.75);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Styles for WYSWIG Editor */
.tiptap h1 {
  @apply text-3xl font-normal sm:text-4xl md:text-5xl;
}

.tiptap h2 {
  @apply text-2xl font-normal sm:text-3xl md:text-4xl;
}

.tiptap h3 {
  @apply text-xl font-normal sm:text-2xl md:text-3xl;
}

.tiptap h4 {
  @apply text-lg font-normal sm:text-xl md:text-2xl;
}

.tiptap h5 {
  @apply text-lg font-normal md:text-xl;
}
