name: Build and Test Application
on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci
      - name: Build application
        run: npm run build

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: build

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: theqaguy
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

      valkey:
        image: valkey/valkey:latest
        ports:
          - 6379:6379
        options: >-
          --health-cmd="valkey-cli ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    env:
      DATABASE_URL: postgres://postgres:password@localhost:5432/theqaguy
      REDIS_URL: redis://localhost:6379
      BASE_URL: http://localhost:3000
      NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME: ${{vars.NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME}}
      NEXT_PUBLIC_CLOUDINARY_API_KEY: ${{secrets.NEXT_PUBLIC_CLOUDINARY_API_KEY}}
      CLOUDINARY_API_SECRET: ${{secrets.CLOUDINARY_API_SECRET}}
      BETTER_AUTH_SECRET: ${{secrets.BETTER_AUTH_SECRET}}
      ADMIN_EMAIL: ${{vars.ADMIN_EMAIL}}
      ADMIN_PASSWORD: ${{secrets.ADMIN_PASSWORD}}
      NODE_ENV: production

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          key: run-${{ github.run_id }}-next-cache
          restore-keys: |
            next-cache-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}-
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Generate Prisma Client
        run: npx prisma generate --schema=./prisma/schema.prisma

      - name: Push Prisma Schema
        run: npx prisma db push --schema=./prisma/schema.prisma

      - name: Seed database
        run: npx tsx prisma/seed_blogs.ts

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Start Application
        run: npm run start & \
          npx wait-on http://localhost:3000

      - name: Setup Admin User
        run: curl --location 'http://localhost:3000/api/initialize?secret=${BETTER_AUTH_SECRET}'

      - name: Run Playwright tests
        run: npx playwright test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
